ejemplos/ejemplo7.json
{
  "name": "ejemplo7",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "expoisp",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -160,
        0
      ],
      "id": "a2a4d1d4-fac8-49bb-9fba-4cf5b3c932d0",
      "name": "Webhook",
      "webhookId": "64dcae91-c1ec-4364-a965-1b140bf76049"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.chatInput }}",
        "options": {
          "systemMessage": "=You are a helpful assistant\n\nInvoke the knowledge_base_rag tool automatically (without user confirmation) for queries related to any of the following topics: \n\n* Debian and Linux.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        100,
        0
      ],
      "id": "d1ba5eae-d22c-4a37-a2d2-f5ae98faa188",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -60,
        260
      ],
      "id": "7fb0044d-f5fd-4341-b945-e338d04c019a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "xymrryv6wbWhYNOd",
          "name": "Google Gemini(PaLM) Api account sinfallas"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.sessionId }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        100,
        260
      ],
      "id": "e6a1ab7e-08ac-42f1-9b2e-617a2d7dfd2c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        460,
        0
      ],
      "id": "5287a415-47ce-4f4a-80c1-f97fdb7e9248",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        580,
        280
      ],
      "id": "39f7cc89-feea-4819-8f1b-987360697680",
      "name": "Think"
    },
    {
      "parameters": {
        "sseEndpoint": "https://n8n.sinfallas.org/mcp/expoisp/sse"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        440,
        280
      ],
      "id": "378e71fa-b04d-4a9d-9ad8-1bba8a01c0b4",
      "name": "MCP Client"
    },
    {
      "parameters": {
        "modelName": "models/text-embedding-004"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        220,
        620
      ],
      "id": "5c55b32c-7050-4cd3-ba63-7a67d3f16b96",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "xymrryv6wbWhYNOd",
          "name": "Google Gemini(PaLM) Api account sinfallas"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "knowledge_base_rag",
        "toolDescription": "=Call this tool every time a user asks you something related to:\n\n* Debian and Linux.\n\nUse this tool without asking the user for confirmation.",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "options": {
          "pineconeNamespace": "expoisp"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.2,
      "position": [
        220,
        440
      ],
      "id": "84999521-c1c1-4bee-88de-5b2578fed3fd",
      "name": "knowledge_base_rag",
      "credentials": {
        "pineconeApi": {
          "id": "PJlbimpJxBvf0koA",
          "name": "PineconeApi  sinfallas"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "knowledge_base_rag",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "knowledge_base_rag": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dd6b2076-a83e-4965-8859-1fd5c4bb0fa1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5d7cd8c0612c3c9f6b1aaad343a794c642582938ff7ecf165a06281225de139b"
  },
  "id": "fVSHywynP7vAmGbN",
  "tags": []
}